/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    min-height: 65%;

}




/* LAYOUT */

.ticket-card {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;

}

label,
select,
input,
button {
    width: 100%;
    margin-top: 8px;
}



/* UTILS */

.pad-bot32 {
    padding-bottom: 32px;
}

.mar-tb {
    margin: 8px 0;
}